:root {
  // Primary Colors
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkBlue: hsl(229, 23%, 23%);
  --darkGreyBlue: hsl(227, 10%, 46%);
  --lightDarkGrey: hsla(0, 0%, 59%, 0.418);
  // Neutral
  --darkGrey: hsl(0, 0%, 59%);
  --white: hsl(255, 100%, 100%);
  --blackSemiTransparent: hsla(0, 0%, 0%, 0.255);
}
